* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    overflow-x: hidden;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.category-container a {
    color: black;
    font-size: 36px;
    text-decoration: none;
    padding-right: 40px;
}

.main-photo {
    padding-top: 3vh;
}

.photo-logo {
    height: 14vh;
    width: auto;
    border-top: solid 30px white;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.main-text {
    color: white;
}

.pt-4 {
    padding-top: 4px;
}

.mb-60 {
    margin-bottom: 60px;
}

.text-color {
    color: white;
    text-decoration: none;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-auto {
    margin-top: auto;
}

.mt-20 {
    margin-top: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.events-cta {
    width: 303px;
    height: 63px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    left: 50%;
}

.explore-cta {
    width: 303px;
    height: 63px;
    border-radius: 50px;
    background-color: #E896F2;
    color: white;
    text-align: center;
    text-decoration: none;
    left: 20%;
}

.absolute {
    position: absolute;
}

.explore-box {
    background-color: #9BE9D9;
}

.main-headline {
    font-size: 130px;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}


.bg-pink {
    background-color: #E896F2;
}

.bg-yellow {
    background-color: #FFB44A;
}

.bg-lightpink {
    background-color: #F3CDF8;
}

.bg-darkgreen {
    background-color: #00C49C;
}

.bg-lightyellow {
    background-color: #FDDE5F;
}

.rounded-xl {
    border-radius: 85px;
}

.main-headline {
    font-size: 130px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-60 {
    gap: 60px;
}

.h-32 {
    height: 13rem;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.p-2 {
    padding: 0, 5rem;
}

.p-4 {
    padding: 1rem;
}


.block {
    display: block;
}

.text-md {
    font-size: 38px;
}

.text-lg {
    font-size: 48px;
}

.absolute {
    position: absolute;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-50 {
    width: 50%;
}

.h-full {
    height: 100%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}


.w-main-box {
    width: 603px;
}

.h-main-box {
    height: 821;
}

.radius-xl {
    border-radius: 85px;
}

.w-img {
    width: 525px;
}

.h-img {
    max-height: 300px;
    height: auto;

}

.max-w-420 {
    max-width: 420px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-61 {
    padding-left: 61px;
    padding-right: 61px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.w-btn {
    width: 414px;
}

.h-btn {
    height: 84px;
}

.radius-full {
    border-radius: 50px;
}

.bottom-30 {
    bottom: 30px;
}

.left-61 {
    left: 61px;
}

.line-height56 {
    line-height: 56px;
}

.-mt-20 {
    margin-top: -20px;
}

.-mt-50 {
    margin-top: -50px;
}

.pb-120 {
    padding-bottom: 120px;
}